import(rlang)
import(R6)
import(parallel)
importFrom(Hmisc,wtd.Ecdf,wtd.loess.noiter,
           wtd.quantile,wtd.rank,wtd.table,
           wtd.var,wtd.mean)
importFrom(stats,simulate)
export(wtd.Ecdf,wtd.loess.noiter,
       wtd.quantile,wtd.rank,wtd.table,
       wtd.var,wtd.mean)



export(EvidenceModel,GradedResponse,NormalScore)
export(GrowthModel,BrownianGrowth,SpurtGrowth)
export(PopulationModel,NormalPop)

export(name,name.R6,HMM,
       particleFilter,particleFilter.HMM,
       longResults,longResults.HMM,longResults.IRTF,
       simulate.HMM)
S3method(name,"R6")
S3method(longResults,HMM)
S3method(simulate,HMM)
S3method(particleFilter,HMM)
S3method(longResults,IRTF)

export(avePart,col2matrix,getDeltaT)
export(byTimePlot,bySubjPlot,methodTimeGadget,biasDisplayGadget)
export(squareWindow,linearWindow,exponentialWindow,gaussianWindow)

export("IRTF","irtf")
